* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

:root {
  --verde1: #025E36;
  --verde2: #03854C;
  --verde3: #039E5B;
  --verde4: #03AB62;
  --verde5: #05EB87;
}

.active {
  display: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: #330000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FF6600'/%3E%3Cstop offset='1' stop-color='%23330000'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23FA3' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FA3' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  /*   background-position: left; */
  -webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.75);
  z-index: 1;
}

header ul {
  display: flex;
  list-style: none;
  width: 100%;
  max-width: 600px;
  margin: auto;
  justify-content: right;
  padding: 10px;
}

header ul .home {
  background-color: #FF6600;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.6rem;
  border-radius: 5px 0 0 5px;
}

header ul .winnerBtn {
  background-color: #330000;
  padding: 10px;
  border-left: 3px dashed #FF6600;
  font-size: 1.6rem;
  border-radius: 0 5px 5px 0;
}

/* Modal */
.modal {
  position: fixed;
  top: 80px;
  width: 95%;
  z-index: 1;
}

.modal .container-modal {
  background-color: #FF6600;
  width: 300px;
  margin: 0 auto;
  border-radius: 5px;
  padding: 5px;
  z-index: 1;
  color: white;
}

.modal .container-modal h2 {
  font-size: 2rem;
  padding: 15px;
  border-bottom: 2px solid white;
}

.modal .container-modal p {
  list-style: none;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 10px;
}

/* contador */
.contador {
  position: fixed;
  top: 80px;
  width: 95%;
  z-index: 1;
}

.container-contador {
  background-color: #FF6600;
  width: 300px;
  margin: 0 auto;
  border-radius: 5px;
  padding: 5px;
  z-index: 1;
  color: white;
}

.container-contador h2 {
  font-size: 4rem;
  padding: 25px 0;
}

/* body */
body {
  width: 100vw;
  padding-top: 100px;
  /*   background-position: center; para centrar la imagen */
  color: white;
  font-family: 'Exo 2', sans-serif;
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  background-color: #330000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FF6600'/%3E%3Cstop offset='1' stop-color='%23330000'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23FA3' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FA3' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  overflow-x: hidden;
}

/* Main */
main {
  color: white;
  width: 100%;
  padding: 0 10px;
}

.sorteo-dos-container {
  width: 100%;
  max-width: 300px;
  min-width: 250px;
  position: relative;
  margin: 0 auto;
  padding-bottom: 25px;
  border-bottom: 3px solid #330000;
}

.sorteo-dos-container {
  width: 100%;
  align-items: center;
  text-align: center;
}

.sorteo-dos-container h2 {
  font-size: 3rem;
  font-weight: 800;
  padding: 20px 0;
  background-color: #330000;
  border-radius: 5px 5px 5px 0px;
}

.sorteo-dos-container h4 {
  background-color: #00000038;
  width: 170px;
  font-size: 2rem;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 0px 0px 5px 5px;
  text-align: left;
  border-top: 10px dashed #330000;
  margin-bottom: 20px;
}

.sorteo-dos-container .nombres {
  width: 300px;
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.sorteo-dos-container .nombres .sorteo-dos {
  border-radius: 100px;
  background-color: white;
  border: none;
  width: 160px;
  padding: 10px 15px;
  font-size: 1.6rem;
  border: 2px solid #FF6600;
}

.sorteo-dos-container .nombres .agregar-jugador {
  font-size: 2rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid white;
  color: white;
  background-color: #FF6600;
}

.sorteo-dos-container .nombres .sorteo-dos:focus {
  outline: none;
}

.sorteo-dos-container .nombres .botones {
  display: flex;
  gap: 10px;
}


.sorteo-dos-container .botones .ganador-btn-dos {
  background-color: #FF6600;
  border: 2px solid white;
  padding: 0 8px;
  border-radius: 100px;
  color: white;
  font-size: 1.6rem;
  font-weight: bold;
}

/* lista */
.sorteo-dos .lista {
  width: 100%;
  max-width: 300px;
  min-width: 150px;
  margin: 0 auto;
  margin-top: 20px;
  text-align: left;
}

.sorteo-dos .lista h3 {
  background-color: #330000;
  border-radius: 5px 5px 0px 0px;
  font-size: 2rem;
  padding: 10px;
  border-bottom: 2px solid;
}

.sorteo-dos .lista-jugadores {
  list-style: none;
  background-color: #00000038;
  border-radius: 0 0 5px 5px;
}

.sorteo-dos .lista-jugadores li {
  font-size: 1.6rem;
  padding: 5px;
  margin: 0 0 5px 0;
  border-left: 2px solid white;
}

/* lista winner */
.winnerList {
  margin: 0 auto;
  width: 100%;
  max-width: 300px;
  min-width: 150px;
}

.winnerList h3 {
  font-size: 3rem;
  background-color: #330000;
  border-bottom: 2px solid white;
  padding: 10px;
  border-radius: 5px 5px 0 0;
}

.winnerList .winnerUl {
  background-color: #00000038;
  list-style: none;
  text-align: left;
  border-radius: 0 0 5px 5px;

}

.winnerList .winnerUl li {
  padding: 5px;
  margin: 0 5px;
  font-size: 1.6rem;
}



@media (min-width: 640px) {
  .sorteo-dos {
    display: flex;
  }

  .sorteo-dos .lista-jugadores {
    padding: 10px;
  }

  .sorteo-dos .lista {
    margin-left: 10px;
    margin-top: 0;
    padding: 0 5px;
  }

  /*   .sorteo-dos .lista h3 {
    font-size: 2rem;
    padding: 10px 0;
    margin-bottom: 10px;
    border-bottom: 2px solid;
  } */
}