:root {
  --verde1: #025E36;
  --verde2: #03854C;
  --verde3: #039E5B;
  --verde4: #03AB62;
  --verde5: #05EB87;
  --verde6: #131c2bff;
  --verde7: #283141;
  --verde8: #002f64ff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  color: white;
  background-color: #283141;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect stroke='%23283141' stroke-width='0.4' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='3' height='3' patternUnits='userSpaceOnUse' patternTransform='rotate(135 1000 750) scale(35) translate(-971.43 -728.57)'%3E%3Cuse fill='%23363c4a' href='%23s' y='2'/%3E%3Cuse fill='%23363c4a' href='%23s' x='1' y='2'/%3E%3Cuse fill='%23404652' href='%23s' x='2' y='2'/%3E%3Cuse fill='%23404652' href='%23s'/%3E%3Cuse fill='%234a4e59' href='%23s' x='2'/%3E%3Cuse fill='%234a4e59' href='%23s' x='1' y='1'/%3E%3C/pattern%3E%3Cpattern id='b' width='7' height='11' patternUnits='userSpaceOnUse' patternTransform='rotate(135 1000 750) scale(35) translate(-971.43 -728.57)'%3E%3Cg fill='%2352565f'%3E%3Cuse href='%23s'/%3E%3Cuse href='%23s' y='5' /%3E%3Cuse href='%23s' x='1' y='10'/%3E%3Cuse href='%23s' x='2' y='1'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='8'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='5' y='2'/%3E%3Cuse href='%23s' x='5' y='6'/%3E%3Cuse href='%23s' x='6' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='h' width='5' height='13' patternUnits='userSpaceOnUse' patternTransform='rotate(135 1000 750) scale(35) translate(-971.43 -728.57)'%3E%3Cg fill='%2352565f'%3E%3Cuse href='%23s' y='5'/%3E%3Cuse href='%23s' y='8'/%3E%3Cuse href='%23s' x='1' y='1'/%3E%3Cuse href='%23s' x='1' y='9'/%3E%3Cuse href='%23s' x='1' y='12'/%3E%3Cuse href='%23s' x='2'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='2'/%3E%3Cuse href='%23s' x='3' y='6'/%3E%3Cuse href='%23s' x='3' y='11'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='4' y='10'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='17' height='13' patternUnits='userSpaceOnUse' patternTransform='rotate(135 1000 750) scale(35) translate(-971.43 -728.57)'%3E%3Cg fill='%23595d66'%3E%3Cuse href='%23s' y='11'/%3E%3Cuse href='%23s' x='2' y='9'/%3E%3Cuse href='%23s' x='5' y='12'/%3E%3Cuse href='%23s' x='9' y='4'/%3E%3Cuse href='%23s' x='12' y='1'/%3E%3Cuse href='%23s' x='16' y='6'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='19' height='17' patternUnits='userSpaceOnUse' patternTransform='rotate(135 1000 750) scale(35) translate(-971.43 -728.57)'%3E%3Cg fill='%23283141'%3E%3Cuse href='%23s' y='9'/%3E%3Cuse href='%23s' x='16' y='5'/%3E%3Cuse href='%23s' x='14' y='2'/%3E%3Cuse href='%23s' x='11' y='11'/%3E%3Cuse href='%23s' x='6' y='14'/%3E%3C/g%3E%3Cg fill='%2360646b'%3E%3Cuse href='%23s' x='3' y='13'/%3E%3Cuse href='%23s' x='9' y='7'/%3E%3Cuse href='%23s' x='13' y='10'/%3E%3Cuse href='%23s' x='15' y='4'/%3E%3Cuse href='%23s' x='18' y='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='53' patternUnits='userSpaceOnUse' patternTransform='rotate(135 1000 750) scale(35) translate(-971.43 -728.57)'%3E%3Cg fill='%2305EB87'%3E%3Cuse href='%23s' x='2' y='5'/%3E%3Cuse href='%23s' x='16' y='38'/%3E%3Cuse href='%23s' x='46' y='42'/%3E%3Cuse href='%23s' x='29' y='20'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='59' height='71' patternUnits='userSpaceOnUse' patternTransform='rotate(135 1000 750) scale(35) translate(-971.43 -728.57)'%3E%3Cg fill='%2305EB87'%3E%3Cuse href='%23s' x='33' y='13'/%3E%3Cuse href='%23s' x='27' y='54'/%3E%3Cuse href='%23s' x='55' y='55'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='g' width='139' height='97' patternUnits='userSpaceOnUse' patternTransform='rotate(135 1000 750) scale(35) translate(-971.43 -728.57)'%3E%3Cg fill='%2305EB87'%3E%3Cuse href='%23s' x='11' y='8'/%3E%3Cuse href='%23s' x='51' y='13'/%3E%3Cuse href='%23s' x='17' y='73'/%3E%3Cuse href='%23s' x='99' y='57'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23b)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23h)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23c)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23d)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23e)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23f)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23g)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.active {
  display: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1;
  backdrop-filter: blur(10px);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
}

header ul {
  display: flex;
  list-style: none;
  width: 100%;
  max-width: 960px;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  padding: 25px 20px;
}

header ul h2 {
  font-size: 2rem;
}

header ul .winnerBtn a {
  background-color: var(--verde6);
  padding: 10px;
  font-size: 1.6rem;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  border: 2px solid #03ab6200;
  transition: .5s ease;
}

header ul .winnerBtn a:hover {
  border: 2px solid #03AB62;
}

header ul .winnerBtn a:active {
  background-color: #03AB62;
}

/* Modal */
.modal {
  position: fixed;
  top: -15px;
  left: 5%;
  width: 90%;
  border-radius: 5px;
  z-index: 1;
  backdrop-filter: blur(10px);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
}

.modal .container-modal {
  background-color: #283141;
  width: 100%;
  min-width: 270px;
  margin: 0 auto;
  border-radius: 5px;
  padding: 20px;
  z-index: 1;
  color: white;
}

.modal .container-modal h2 {
  font-size: 2rem;
  padding: 15px;
  border-bottom: 1px solid gray;
}

.modal .container-modal p {
  list-style: none;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 10px;
}

/* contador */
.contador {
  position: fixed;
  top: -15px;
  width: 90%;
  left: 5%;
  z-index: 1;
  border-radius: 5px;
  backdrop-filter: blur(10px);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
}

.container-contador {

  background-color: #283141;
  width: 100%;
  min-width: 270px;
  margin: 0 auto;
  border-radius: 5px;
  padding: 10px;
  z-index: 1;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}

.container-contador h2 {
  padding: 25px 0;
}

/* body */
body {
  width: 100vw;
  padding-top: 100px;
  font-family: 'Exo 2', sans-serif;
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  overflow-x: hidden;
}

/* Main */
main {
  width: 100%;
  padding: 0 20px;
}

.sorteo-dos {
  margin: 0 auto;
  width: 100%;
  max-width: 575px;
  min-width: 270px;
  backdrop-filter: blur(10px);
  border-radius: 5px;
}

.sorteo-dos-container {
  width: 100%;
  max-width: 575px;
  min-width: 270px;
  position: relative;
  margin: 0 auto;
  padding-bottom: 25px;
  padding: 30px 20px;
}

.sorteo-dos-container h2 {
  width: 100%;
  font-size: 2.6rem;
  text-align: left;
  padding: 10px 0;
  border-bottom: 1px solid gray;
}

.sorteo-dos-container .sorteo-input-container {
  width: 100%;
}

.sorteo-dos-container .sorteo-input-container h4 {
  width: 100%;
  font-size: 1.8rem;
  text-align: left;
  padding: 10px 0;
  color: #03AB62;
  font-weight: 600;
}

.sorteo-dos-container .sorteo-input-container .nombres {
  display: flex;
  text-align: left;
  padding: 10px 0;
}

.sorteo-dos-container .sorteo-input-container .nombres .sorteo-dos {
  border-radius: 100px;
  background-color: white;
  border: none;
  width: 100%;
  max-width: 390px;
  min-width: 80px;
  padding: 10px 15px;
  font-size: 1.6rem;
  border: 2px solid #05EB87;
  color: gray;
}

.sorteo-dos-container .sorteo-input-container .nombres .sorteo-dos::placeholder {
  color: gray;
}

.sorteo-dos-container .sorteo-input-container .nombres .sorteo-dos:focus {
  outline: none;
}


.container-button {
  display: flex;
  gap: 10px;
  margin-left: 10px;
}

.sorteo-dos-container .sorteo-input-container .nombres .agregar-jugador {
  font-size: 2rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: white;
  background-color: #03AB62;
  transition: .3s ease;
  border: 2px solid rgba(255, 255, 255, 0);
}

.sorteo-dos-container .sorteo-input-container .nombres .agregar-jugador:active {
  background-color: #05EB87;
}

.sorteo-dos-container .sorteo-input-container .nombres .agregar-jugador:hover {
  border: 2px solid #05EB87;
}

.sorteo-dos-container .sorteo-input-container .nombres .ganador-btn-dos {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background-color: #03AB62;
  border: 2px solid #03ab6200;
  padding: 0 8px;
  border-radius: 100px;
  color: white;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 0px 15px;
  transition: .3s ease;
}

.sorteo-dos-container .sorteo-input-container .nombres .ganador-btn-dos:hover {
  border: 2px solid #05EB87;
}

.sorteo-dos-container .sorteo-input-container .nombres .ganador-btn-dos:active {
  background-color: #05EB87;
}

/* LISTA */
.lista {
  width: 100%;
  max-width: 575px;
  min-width: 270px;
  margin: 0 auto;
  padding: 30px 20px;
  text-align: left;
}

.lista h3 {
  font-size: 2.6rem;
  padding: 10px 0;
  border-bottom: 1px solid gray;
}

.lista ul {
  width: 100%;
  min-width: 240px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px 0;
}

.lista ul li {
  font-size: 1.4rem;
  color: white;
  background-color: #131c2bff;
  padding: 8px;
  border-radius: 3px;
}


@media(min-width: 475px) {
  .lista ul {
    grid-template-columns: 1fr 1fr 1fr;
  }
}