:root {
  --verde1: #025E36;
  --verde2: #03854C;
  --verde3: #039E5B;
  --verde4: #03AB62;
  --verde5: #05EB87;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  background-color: white;
}

.active {
  display: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1;
  border-bottom: 1px solid gray;
}

header ul {
  display: flex;
  list-style: none;
  width: 100%;
  max-width: 960px;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  padding: 25px 20px;
}

header ul h2 {
  font-size: 2rem;
}

header ul .winnerBtn a {
  background-color: #03AB62;
  padding: 10px;
  font-size: 1.6rem;
  border-radius: 5px;
  color: white;
  text-decoration: none;
}

/* Modal */
.modal {
  position: fixed;
  top: 80px;
  width: 95%;
  z-index: 1;
}

.modal .container-modal {
  /*   background-color: #FF6600; */
  background-color: #03AB62;
  width: 300px;
  margin: 0 auto;
  border-radius: 5px;
  padding: 5px;
  z-index: 1;
  color: white;
}

.modal .container-modal h2 {
  font-size: 2rem;
  padding: 15px;
  border-bottom: 2px solid white;
}

.modal .container-modal p {
  list-style: none;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 10px;
}

/* contador */
.contador {
  position: fixed;
  top: 80px;
  width: 95%;
  z-index: 1;
}

.container-contador {
  /*  background-color: #FF6600; */
  background-color: var(--verde4);
  width: 300px;
  margin: 0 auto;
  border-radius: 5px;
  padding: 5px;
  z-index: 1;
  color: white;
}

.container-contador h2 {
  font-size: 4rem;
  padding: 25px 0;
}

/* body */
body {
  width: 100vw;
  padding-top: 100px;
  font-family: 'Exo 2', sans-serif;
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  overflow-x: hidden;
}

/* Main */
main {
  width: 100%;
  padding: 0 20px;
  background-color: salmon;
}

.sorteo-dos {
  /*   max-width: 960px;
  min-width: 270px; */
  margin: 0 auto;
}

.sorteo-dos-container {
  background-color: sandybrown;
  width: 100%;
  max-width: 575px;
  min-width: 270px;
  position: relative;
  margin: 0 auto;
  padding-bottom: 25px;
  border-bottom: 3px solid var(--verde4);
  padding: 20px;
}

.sorteo-dos-container h2 {
  width: 100%;
  font-size: 2.4rem;
  text-align: left;
  padding: 10px 0;
  border-bottom: 1px solid gray;
}

.sorteo-dos-container .sorteo-input-container {
  width: 100%;
  background-color: #025E36;
}

.sorteo-dos-container .sorteo-input-container h4 {
  width: 100%;
  font-size: 1.8rem;
  text-align: left;
  padding: 10px 0;
}

.sorteo-dos-container .sorteo-input-container .nombres {
  background-color: aqua;
  text-align: left;
}

.sorteo-dos-container .sorteo-input-container .nombres .sorteo-dos {
  border-radius: 100px;
  background-color: white;
  border: none;
  width: 50%;
  min-width: 150px;
  padding: 10px 15px;
  font-size: 1.6rem;
  border: 2px solid #FF6600;
}

.sorteo-dos-container .sorteo-input-container .nombres .agregar-jugador {
  font-size: 2rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid white;
  color: white;
  background-color: #FF6600;
}

.sorteo-dos-container .sorteo-input-container .nombres .ganador-btn-dos {
  background-color: #FF6600;
  border: 2px solid white;
  padding: 0 8px;
  border-radius: 100px;
  color: white;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 10px 15px;
}

/* .sorteo-dos-container {
  width: 100%;
  align-items: center;
  text-align: center;
} */

/* .sorteo-dos-container h2 {
  font-size: 3rem;
  font-weight: 800;
  padding: 20px 0;
  background-color: var(--verde4);
  border-radius: 5px 5px 5px 0px;
}

.sorteo-dos-container h4 {
  background-color: #00000038;
  width: 170px;
  font-size: 2rem;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 0px 0px 5px 5px;
  text-align: left;
  margin-bottom: 20px;
}

.sorteo-dos-container .nombres {
  width: 300px;
  min-width: 200px;
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.sorteo-dos-container .nombres .sorteo-dos {
  border-radius: 100px;
  background-color: white;
  border: none;
  width: 160px;
  padding: 10px 15px;
  font-size: 1.6rem;
  border: 2px solid #FF6600;
}

.sorteo-dos-container .nombres .agregar-jugador {
  font-size: 2rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid white;
  color: white;
  background-color: #FF6600;
}

.sorteo-dos-container .nombres .sorteo-dos:focus {
  outline: none;
}

.sorteo-dos-container .nombres .botones {
  display: flex;
  gap: 10px;
}


.sorteo-dos-container .botones .ganador-btn-dos {
  background-color: #FF6600;
  border: 2px solid white;
  padding: 0 8px;
  border-radius: 100px;
  color: white;
  font-size: 1.6rem;
  font-weight: bold;
} */

/* lista */
/* .sorteo-dos .lista {
  width: 100%;
  max-width: 300px;
  min-width: 150px;
  margin: 0 auto;
  margin-top: 20px;
  text-align: left;
}

.sorteo-dos .lista h3 {
  background-color: #330000;
  border-radius: 5px 5px 0px 0px;
  font-size: 2rem;
  padding: 10px;
  border-bottom: 2px solid;
}

.sorteo-dos .lista-jugadores {
  list-style: none;
  background-color: #00000038;
  border-radius: 0 0 5px 5px;
}

.sorteo-dos .lista-jugadores li {
  font-size: 1.6rem;
  padding: 5px;
  margin: 0 0 5px 0;
  border-left: 2px solid white;
}
 */
/* lista winner */
/* .winnerList {
  margin: 0 auto;
  width: 100%;
  max-width: 300px;
  min-width: 150px;
}

.winnerList h3 {
  font-size: 3rem;
  background-color: #330000;
  border-bottom: 2px solid white;
  padding: 10px;
  border-radius: 5px 5px 0 0;
}

.winnerList .winnerUl {
  background-color: #00000038;
  list-style: none;
  text-align: left;
  border-radius: 0 0 5px 5px;

}

.winnerList .winnerUl li {
  padding: 5px;
  margin: 0 5px;
  font-size: 1.6rem;
} */


/* 
@media (min-width: 640px) {
  .sorteo-dos {
    display: flex;
  }

  .sorteo-dos .lista-jugadores {
    padding: 10px;
  }

  .sorteo-dos .lista {
    margin-left: 10px;
    margin-top: 0;
    padding: 0 5px;
  }

  .sorteo-dos-container {
    width: 50%;
  }


  .lista {
    width: 50%;
  }
} */
@media(min-width: 475px) {
  .sorteo-dos-container .sorteo-input-container {
    display: flex;
  }

  .sorteo-dos-container .sorteo-input-container h4 {
    width: 41%;
    font-size: 1.8rem;
    text-align: left;
    padding: 10px 0;
  }

  .sorteo-dos-container .sorteo-input-container .nombres {
    display: flex;
    width: 59%;
    background-color: aqua;
    align-items: center;
  }
}