:root {
  --verde1: #025E36;
  --verde2: #03854C;
  --verde3: #039E5B;
  --verde4: #03AB62;
  --verde5: #05EB87;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  color:white;
  background-color: #283141;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Crect stroke='%23283141' stroke-width='0.4' width='1' height='1' id='s'/%3E%3Cpattern id='a' width='3' height='3' patternUnits='userSpaceOnUse' patternTransform='rotate(135 1000 750) scale(35) translate(-971.43 -728.57)'%3E%3Cuse fill='%23363c4a' href='%23s' y='2'/%3E%3Cuse fill='%23363c4a' href='%23s' x='1' y='2'/%3E%3Cuse fill='%23404652' href='%23s' x='2' y='2'/%3E%3Cuse fill='%23404652' href='%23s'/%3E%3Cuse fill='%234a4e59' href='%23s' x='2'/%3E%3Cuse fill='%234a4e59' href='%23s' x='1' y='1'/%3E%3C/pattern%3E%3Cpattern id='b' width='7' height='11' patternUnits='userSpaceOnUse' patternTransform='rotate(135 1000 750) scale(35) translate(-971.43 -728.57)'%3E%3Cg fill='%2352565f'%3E%3Cuse href='%23s'/%3E%3Cuse href='%23s' y='5' /%3E%3Cuse href='%23s' x='1' y='10'/%3E%3Cuse href='%23s' x='2' y='1'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='8'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='5' y='2'/%3E%3Cuse href='%23s' x='5' y='6'/%3E%3Cuse href='%23s' x='6' y='9'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='h' width='5' height='13' patternUnits='userSpaceOnUse' patternTransform='rotate(135 1000 750) scale(35) translate(-971.43 -728.57)'%3E%3Cg fill='%2352565f'%3E%3Cuse href='%23s' y='5'/%3E%3Cuse href='%23s' y='8'/%3E%3Cuse href='%23s' x='1' y='1'/%3E%3Cuse href='%23s' x='1' y='9'/%3E%3Cuse href='%23s' x='1' y='12'/%3E%3Cuse href='%23s' x='2'/%3E%3Cuse href='%23s' x='2' y='4'/%3E%3Cuse href='%23s' x='3' y='2'/%3E%3Cuse href='%23s' x='3' y='6'/%3E%3Cuse href='%23s' x='3' y='11'/%3E%3Cuse href='%23s' x='4' y='3'/%3E%3Cuse href='%23s' x='4' y='7'/%3E%3Cuse href='%23s' x='4' y='10'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='c' width='17' height='13' patternUnits='userSpaceOnUse' patternTransform='rotate(135 1000 750) scale(35) translate(-971.43 -728.57)'%3E%3Cg fill='%23595d66'%3E%3Cuse href='%23s' y='11'/%3E%3Cuse href='%23s' x='2' y='9'/%3E%3Cuse href='%23s' x='5' y='12'/%3E%3Cuse href='%23s' x='9' y='4'/%3E%3Cuse href='%23s' x='12' y='1'/%3E%3Cuse href='%23s' x='16' y='6'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='d' width='19' height='17' patternUnits='userSpaceOnUse' patternTransform='rotate(135 1000 750) scale(35) translate(-971.43 -728.57)'%3E%3Cg fill='%23283141'%3E%3Cuse href='%23s' y='9'/%3E%3Cuse href='%23s' x='16' y='5'/%3E%3Cuse href='%23s' x='14' y='2'/%3E%3Cuse href='%23s' x='11' y='11'/%3E%3Cuse href='%23s' x='6' y='14'/%3E%3C/g%3E%3Cg fill='%2360646b'%3E%3Cuse href='%23s' x='3' y='13'/%3E%3Cuse href='%23s' x='9' y='7'/%3E%3Cuse href='%23s' x='13' y='10'/%3E%3Cuse href='%23s' x='15' y='4'/%3E%3Cuse href='%23s' x='18' y='1'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='e' width='47' height='53' patternUnits='userSpaceOnUse' patternTransform='rotate(135 1000 750) scale(35) translate(-971.43 -728.57)'%3E%3Cg fill='%2305EB87'%3E%3Cuse href='%23s' x='2' y='5'/%3E%3Cuse href='%23s' x='16' y='38'/%3E%3Cuse href='%23s' x='46' y='42'/%3E%3Cuse href='%23s' x='29' y='20'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='f' width='59' height='71' patternUnits='userSpaceOnUse' patternTransform='rotate(135 1000 750) scale(35) translate(-971.43 -728.57)'%3E%3Cg fill='%2305EB87'%3E%3Cuse href='%23s' x='33' y='13'/%3E%3Cuse href='%23s' x='27' y='54'/%3E%3Cuse href='%23s' x='55' y='55'/%3E%3C/g%3E%3C/pattern%3E%3Cpattern id='g' width='139' height='97' patternUnits='userSpaceOnUse' patternTransform='rotate(135 1000 750) scale(35) translate(-971.43 -728.57)'%3E%3Cg fill='%2305EB87'%3E%3Cuse href='%23s' x='11' y='8'/%3E%3Cuse href='%23s' x='51' y='13'/%3E%3Cuse href='%23s' x='17' y='73'/%3E%3Cuse href='%23s' x='99' y='57'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23b)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23h)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23c)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23d)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23e)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23f)' width='100%25' height='100%25'/%3E%3Crect fill='url(%23g)' width='100%25' height='100%25'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

body {
  width: 100vw;
  padding-top: 100px;
  font-family: 'Exo 2', sans-serif;
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  overflow-x: hidden;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 1;
  backdrop-filter: blur(10px);
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
}

header ul {
  display: flex;
  list-style: none;
  width: 100%;
  max-width: 960px;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  padding: 25px 20px;
}

header ul h1 {
  font-size: 2rem;
}

header ul li {
  list-style: none;
}

header ul li a {
  background-color:  #131c2bff;
  padding: 10px;
  font-size: 1.6rem;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  border: 2px solid #039e8900;
  transition: .5s ease;
}

header ul li a:hover {
  border: 2px solid #039E5B;
}

header ul li a:active {
  background-color: #039E5B;
}


main {
  width: 100%;
  padding: 0 20px;
}

main .winnerList {
  backdrop-filter: blur(10px);
  width: 100%;
  height: auto;
  max-width: 575px;
  min-width: 270px;
  position: relative;
  margin: 0 auto;
  padding-bottom: 25px;
  padding: 30px 20px;
}

main .winnerList h3 {
  width: 100%;
  font-size: 2.6rem;
  text-align: left;
  padding: 10px 0;
  border-bottom: 1px solid gray;
  margin-bottom: 20px;
}

main .winnerList table {
  width: 100%;
  color: white;
  font-size: 1.6rem;
  border-radius: 3px;
  background-color:  #131c2bff;
}

main .winnerList table thead tr th {
 /*  background-color: #05EB87; */
  padding: 10px 8px;
  border-radius: 2px;
}

main .winnerList table tbody tr td {
  background-color:#283141;
  padding: 8px;
}